:root {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-peach: #ee9972;
  --secondary-cream: #edefee;
  --highlight-gray: #333333;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
  color: var(--primary-green);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
